<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>About Me:</title>
  </head>
  <body>
    <h1>About Bennett Cannon</h1>
    <p>
      Mr. Cannon grew up in rural southern Idaho and is now attending Utah State
      University studying Computer Science. In his spare time, Bennett likes to
      read, run, and climb!
    </p>
  </body>
</html>
