<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>Experience</title>
  </head>
  <body>
    <h1>Experience</h1>
    <h2>Logan City Cemetery</h2>
    <p>
      Mr. Cannon served as a groundskeeper at Logan City Cemetery, where he was
      responsible for maintaining the grounds and ensuring the cemetery was a
      respectful and serene place for visitors.
    </p>
    <h2>AIDIA LLC</h2>
    <p>
      Mr. Cannon worked as a web developer for AIDIA LLC under Asher Gunsay for
      a period of about three months. During this time, he used TypeScript,
      JavaScript, React, SolidJS, and various other frameworks
    </p>
    <h2>USU student</h2>
    <p>
      Mr. Cannon has been a student at USU for two years and is halfway through
      his degree of Computer Science
    </p>
    <p>Click <a href="/">here</a> to return to home</p>
  </body>
</html>
