<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>Projects</title>
  </head>
  <body>
    <h1>Projects</h1>
    <h2>PlannerBook</h2>
    <p>
      A stupid simple calendar that allows you to plan your day, month, and year
      precisely around the most imporant areas in your life
    </p>
    <h2>Was This the Face?</h2>
    <p>
      A public service project used to raise awareness for public issues by
      taking multiple uploads of people who took a picture of their face and
      combining them into one.
    </p>
    <h2>HRGPT</h2>
    <p>
      A Human Resources search engine that enables employees to search questions
      semantically to find similar questions that may have already been asked.
    </p>
    <p>Click <a href="/">here</a> to return to home</p>
  </body>
</html>
